* {
  margin: 0;
  padding: 0;
  font-family: "Zalando Sans Expanded", sans-serif;
}

h1,
h2,
h3,
p {
  color: rgb(216, 216, 216);
  cursor: default;
}

h1 {
  font-size: 5rem;
  line-height: 0.9;
  padding: 0;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  color: rgb(136, 136, 136);
  font-weight: 100;
}

.glitch{
  text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -0.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);
  
  animation: glitch 500ms infinite;
  position: relative;
}

.glitch span {
  position: absolute;
  /* top: -50;
  left: 299px;  */
  top: 0;
  left: 0; 
}
/* Position a corriger jsp pq ca se superpose pas naturellement */

.glitch span:first-child{
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  color: white;
  opacity: .8;
}

.glitch span:last-child{
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  color: white;
  opacity: .8;
}


@keyframes glitch {
  0% {
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.05em -0.025em 0 rgba(0,255,0,.75),
    -0.025em 0.05em 0 rgba(0,0,255,.75);
  }
  14% {
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.05em -0.025em 0 rgba(0,255,0,.75),
    -0.025em 0.05em 0 rgba(0,0,255,.75);
  }
  15% {
    text-shadow: 
    -0.05em -0.025em 0 rgba(255,0,0,.75),
    0.025em 0.025em 0 rgba(0,255,0,.75),
    -0.05em -0.05em 0 rgba(0,0,255,.75);
  }
  49% {
    text-shadow: 
    -0.05em -0.025em 0 rgba(255,0,0,.75),
    0.025em 0.025em 0 rgba(0,255,0,.75),
    -0.05em -0.05em 0 rgba(0,0,255,.75);
  }
  50% {
    text-shadow: 
    0.025em 0.05em 0 rgba(255,0,0,.75),
    -0.05em 0 0 rgba(0,255,0,.75),
    0 -0.05em 0 rgba(0,0,255,.75);
  }
  99% {
    text-shadow: 
    0.025em 0.05em 0 rgba(255,0,0,.75),
    -0.05em 0 0 rgba(0,255,0,.75),
    0 -0.05em 0 rgba(0,0,255,.75);
  }
  100% {
    text-shadow: 
    -0.025em 0 0 rgba(255,0,0,.75),
    -0.025em -0.025em 0 rgba(0,255,0,.75),
    -0.025em -0.05em 0 rgba(0,0,255,.75);
  }
}


.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.global {
  position: fixed;
  z-index: -1;
  top: 0;
}

.boxLeft {
  display: flex;
  flex-direction: column;
  padding: 18rem 0 0 5rem;
  align-items: baseline;
}

.artistPicture {
  width: 55rem;
  transform: translateX(-130px);
}

.highlightedTracks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 5rem;
  padding-left: 1rem;
}

.btnTrack { 
  height: 42px;
  width: 104px;
  border-radius: 40px;
  border: 3px;
  border-color: #ffffff;
  box-shadow: 0 0 10px 2px #ffffff77;
  background: none;
  transition: transform 0.3s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}

.btnTrack:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 0 10px 4px #f63fff;
  color: #f63fff}

.card img {
  width: 15rem;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.card img:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-200px);
}

.container-card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  transform: translateY(-500px);
}

#backgroundTopo {
  width: 100%;
  z-index: -1;
  position: fixed;
  fill: rgba(254, 2, 198, 0.25);
  stroke: rgba(254, 2, 198, 0.4);
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: draw 6s ease-in-out infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
