.scrollSnap {
  height: 100%;
  scroll-snap-align: start;
}

.hero {
  box-shadow: inset 200px 0px 100px var(--dark),
    inset -200px 0px 100px var(--dark),
    inset 0 30px 50px var(--dark),
    inset 0 -30px 50px var(--dark);
  background-image: url('../assets/images/hero.png');
  height: 85vh;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 1fr;

  svg {
    stroke: var(--offwhite);
    stroke-width: 1px;
    fill-opacity: 0;
    fill: var(--offwhite);
    stroke-dasharray: 730;
    stroke-dashoffset: 730;
    animation: drawHero 10s ease-in-out both infinite;
    filter: url(#shadow);
    transform: scale(1.5);
  }

  #heroNeon {
    margin-left: 15rem;
    grid-area: 1/1/2/2;
    justify-self: left;
    align-self: center;
  }

  #hero808 {
    margin-right: 15rem;
    grid-area: 1/2/2/3;
    justify-self: right;
    align-self: center;
  }

}

.heroCounter {
  width: 100%;
  display: flex;
  align-self: start;
  justify-content: space-evenly;
  grid-area: 2/1/3/3;
  font-family: var(--title-font);
  font-size: 28px;

  .heroCounterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@keyframes drawHero {
  30% {
    fill-opacity: 1;
    stroke-width: .1px;
    stroke-dashoffset: 0;
  }

  50% {
    fill-opacity: 1;
    stroke-width: .1px;
    stroke-dashoffset: 0;
  }

  100% {
    fill-opacity: 0;
    stroke-dasharray: 730;
    stroke-dashoffset: 730;
  }
}

@media(max-width:1300px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 1fr;

    #hero808,
    #heroNeon {
      transform: scale(1);
      margin: 0;
      justify-self: center;
    }

    #hero808 {
      grid-area: 2/1/3/2;
    }

    .heroCounter {
      grid-area: 3/1/4/2;
      font-size: 24px;
    }
  }
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #newsText {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h3 {
      font-size: 32px;
    }

    h3,
    a {
      opacity: 0;
    }
  }

  #newsImages {
    width: 600px;
    position: relative;
    aspect-ratio: 1/1;

    img {
      position: absolute;
      width: var(--imgSize);
      left: -1000px;
    }

    #newsDisk1 {
      top: 300px;
    }

    #newsDisk3 {
      top: 150px;
    }
  }
}


.newsAnim {
  img {
    animation: imgNews .8s ease-in both;
    animation-name: var(--animImg);
  }

  h3 {
    animation: textNews .5s both .6s;
    animation-timing-function: cubic-bezier(1, .14, .54, 1.61);
  }

  a {
    animation: buttonNews .5s both 1s;
    animation-timing-function: cubic-bezier(1, .14, .54, 1.61);
  }
}

@keyframes disk1 {
  0% {
    transform: rotate(50deg);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.356));
    left: 30px;
    transform: rotate(20deg);
  }
}

@keyframes disk2 {
  0% {
    transform: rotate(50deg);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.356));
    left: 30px;
    transform: rotate(10deg);
  }
}

@keyframes disk3 {
  0% {
    transform: rotate(50deg);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.356));
    left: 230px;
    transform: rotate(-20deg);
  }
}

@keyframes textNews {

  from {
    transform: translateX(-800px);
  }


  to {
    opacity: 1;
  }
}

@keyframes buttonNews {

  from {
    transform: translateY(-300px);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}